<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GoodsServlet</servlet-name>
    <servlet-class>com.goodsmanager.admin.servlet.GoodsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Goodsmanager</servlet-name>
    <servlet-class>goodsmanager.servlet.Goodsmanager</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GoodsType</servlet-name>
    <servlet-class>goodsmanager.servlet.GoodsType</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Goods</servlet-name>
    <servlet-class>com.goodsmanager.servlets.Goods</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>GoodsServlet</servlet-name>
    <url-pattern>/servlet/GoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Goodsmanager</servlet-name>
    <url-pattern>/servlet/Goodsmanager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsType</servlet-name>
    <url-pattern>/servlet/GoodsType</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Goods</servlet-name>
    <url-pattern>/servlet/Goods</url-pattern>
  </servlet-mapping>

</web-app>